
<!-- Nav -->
<div data-role="panel" class="{{ name }}" data-position="{{ nav.pos|default('left') }}" data-display="overlay">
<ul data-role="listview" class="ui-alt-icon ui-nodisc-icon">
	{% for i in nav.submenu recursive %}
		{% if i.submenu is defined %}
			<li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false" class="ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed">
				<h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
					<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-right ui-btn-inherit ui-icon-carat-d">
					    {{ i.text }}<span class="ui-collapsible-heading-status"> click to expand contents</span>
					</a>
				</h3>
				<div class="ui-collapsible-content ui-body-inherit ui-collapsible-content-collapsed" aria-hidden="true">
					<ul>
						{{ loop(i.submenu) }}
					</ul>
				</div>
			</li>
		{% elif i.divider|default('False') == 'True' %}
			<li data-role="list-divider"></li>
		{% elif i.link == None %}
			<li data-filtertext="{{ i.filter|default(i.text) }}" {% if i.icon is defined %}data-icon="{{ i.icon }}"{% endif %}>{{ i.text }}</li>
		{% else %}
			<li data-filtertext="{{ i.filter|default(i.text) }}" {% if i.icon is defined %}data-icon="{{ i.icon }}"{% endif %}><a href="{{ i.link }}">{{ i.text }}</a></li>
		{% endif %}
	{% endfor %}
</ul>
</div><!-- /Nav -->
