
/* Header */
.bdoty .bdoty-header .top {
	background: rgb(153,217,234);
}
.bdoty .bdoty-header .top h2 {
	padding: .4em 0 .1em;
	margin: 0 3em;
}
.bdoty .bdoty-header .top h2 a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
.bdoty .bdoty-header .top h2 > img {
	display: inline-block;
	height: 28px;
	width: auto;
	margin-left: -50px;
	padding-left: 50%;
}
.bdoty .bdoty-header .top .ui-btn,
.ui-mobile-viewport .bdoty-header .top .ui-btn {
	width: 2em;
	height: 2em;
	background: none;
	border: 0;
	/*top: 50%;
	margin-top: -1em; */
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	opacity: .4;
	filter: Alpha(Opacity=40);
} 


/* Header During Transition */
.ui-mobile-viewport .bdoty-header .top {
	background: rgb(153,217,234);
}
.ui-mobile-viewport .bdoty-header .top h2 {
	padding: .4em 0 .1em;
	margin: 0 3em;
	/* display: inline-block; */
	/* margin: 0 50%; */
}
.ui-mobile-viewport .bdoty-header .top h2 a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
.ui-mobile-viewport .bdoty-header .top h2 > img {
	display: inline-block;
	height: 28px;
	width: auto;
	/* margin: auto; */
	margin-left: -50px;
	padding-left: 50%;
}
